.image{
    width: 100px;
    height: 500px;
    border-radius: 20px;
    margin-top: 80px;
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition: all 400ms ease-in;
}

.active{
    width: 800px;
}
/* :nth-of-type(2){
    width: 100px;
}
:nth-of-type(3){
    width: 100px;
}
:nth-of-type(4){
    width: 100px;
}
:nth-of-type(5){
    width: 100px;
} */


